<div class="container mt-4">
  <div class="row">
    <div class="col col-sm-6">
      <img src="../../../assets/images/presidente.jpg" alt="">
    </div>
    <div class="col col-sm-6">
      <p>"TodoServy está hecho para ayudar a encontrar el proveedor de servicios que necesitas, y a los profesionales a digitalizar su oferta de servicios, tener un mayor alcance de clientes y un nuevo canal de ventas."</p>
      <h4>Juan Sarmiento</h4>
      <h6>President & Co-Founder</h6>
    </div>
  </div>
</div>
