<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <p class="tituloazul">TodoServy es <br> Universal</p>
      <p>En TodoServy, tienes acceso a todos los servicios que ofrecen profesionales, independientes, negocios y empresas en
        tu ciudad.</p>
       <p class="titulogris" >Conoce más aquí</p >
       <hr>
    </div>
    <div class="col">
      <hr>
      <p class="tituloazul">TodoServy es <br> Unificado</p>
      <p>En TodoServy encuentras todas las reseñas y valoraciones que están en internet sobre cada profesional, independiente y negocio registrado.</p>
       <p class="titulogris">Conoce más aquí</p>
       <hr>
    </div>
  </div>
</div>
