<div class="container">
  <div class="row">
    <div class="col">
      <hr>
      <h1>TodoServy es Universal</h1>
      <p>En TodoServy, tienes acceso a todos los servicios que ofrecen profesionales, independientes, negocios y empresas en
        tu ciudad.</p>
       <h3>Conoce más aquí</h3>
       <hr>
    </div>
    <div class="col">
      <hr>
      <h1>TodoServy es Unificado</h1>
      <p>En TodoServy encuentras todas las reseñas y valoraciones que están en internet sobre cada profesional, independiente y negocio registrado.</p>
       <h3>Conoce más aquí</h3>
       <hr>
    </div>
  </div>
</div>
