<div class="container">
  <div class="row">
    <div class="text-center col">
      <h1>TodoServy</h1>
      <h3>Directorio Premium Online</h3>
    </div>
    <div>
    </div>
  </div>
  <div class="row">
    <div class="text-center col">
    <p>Ofrece los servicios de tu negocio, empresa o emprendimiento digital, muestra sus reseñas y calificaciones, garantiza pagos seguros y gana popularidad en tu ciudad.</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
    <h3>¡Tu nuevo canal de ventas!</h3>
    </div>
  </div>
  <div class="row">
    <div class="text-center col">
      <button class="btn btn-primary" type="button">¡Registra tu negocio gratis!</button>
    </div>
    <div class="row">
      <div class="col">
        <img class="img-fluid  mx-auto d-block" src="../../../assets/images/ejercicio.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
      <h5>Tu perfil personalizado mostrando categorías, estudios, horarios, reseñas y mucho más</h5>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
      <h3>TodoServy para que encuentres
        el servicio que necesitas</h3>
      </div>
    </div>
  </div>
</div>

