<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Agendamiento</h1>
      <h1>revolucionario online</h1>
       <p>Aumenta tus agendamientos de servicios con nuestra solución innovadora. Con nuestra agenda revolucionaria en línea, tus clientes podrán verificar fácilmente la disponibilidad y programar sus servicios de manera eficiente.
       </p>
        <h5> ¡Optimiza tu negocio y obtén más agendamientos hoy mismo!</h5>
        <p> Con nuestro sistema de agendamiento en línea, podrás tener una visión detallada de tu equipo de trabajo y sus disponibilidades. En el perfil de negocio, tus clientes podrán programar sus servicios de acuerdo con la disponibilidad de tu equipo.
        </p>
        <p> Recuerda que, si eres “Negocio Free”, tienes un límite de agendamientos sobre tus servicios, pero si te haces “Negocio Premium” la cantidad de agendamientos será ilimitada.</p>
    </div>
  </div>
    <div class="row">
      <div class="col" id="carouselExample" class="carousel slide ">
          <div class="carousel-inner carrusel">
            <div class="carousel-item active">
              <img src="../../../assets/images/ejercicio.jpg" class="d-block w-100 img-fluid " alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/pc2.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/images/pc3.jpg" class="d-block w-100 img-fluid" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"><</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="false">></span>
          </button>
  </div>
  </div>
