<div class="container">
  <div class="row">
    <div class="col text-center">
      <img class="img-fluid  mx-auto d-block" src="../../../assets/images/corona.svg" alt="">
      <h3>Obtén todos los beneficios</h3>
        <h4>¡Únete a Premium!</h4>
    </div>
  </div>
  <div class="row">
    <div class="col  text-justify">
      <p>Si te registras como profesional o independiente y accedes a Premium, tu visibilidad aumentará significativamente: aparecerás en los primeros resultados dentro de TodoServy.</p>
    </div>
    <div class="col text-justify">
      <p >Con tu perfil premium tendrás un identificador en tu nombre que demuestra que eres uno de los más calificados para ese servicio. Miles de usuarios están esperando para contratarte.</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center ">
      <p class="pCentrados"><a class="link-opacity-10-hover" href="#">Verificación de credenciales, licencias y diplomas</a></p>
      <p class="pCentrados"><a class="link-opacity-25-hover" href="#">Visibilidad premium</a></p>
      <p class="pCentrados"><a class="link-opacity-50-hover" href="#">Ofertar servicios ilimitados</a></p>
      <p class="pCentrados"><a class="link-opacity-75-hover" href="#">Botón que direcciona a WhatsApp</a></p>
      <p class="pCentrados"><a class="link-opacity-100-hover" href="#">Acceso ilimitado al calendario y agendamiento online</a></p>
      <p class="pCentrados"><a class="link-opacity-100-hover" href="#">Recibe pagos 100% seguros a través de TodoServy</a></p>
    </div>
  </div>
  <div class="row">
    <div class=" col text-center align-items-center ">
      <div class="" >
        <button class="btn-grad" type="submit">¡Únete a Premium!</button>
      </div>
    </div>
  </div>
</div>
