<div class="container mt-3">
  <div class="row">
    <div class="col m-2 p-4 mb-2">
      <img class="mb-sm-3" src="../../../assets/images/calendario.svg" alt="">
      <p class="titulospagos">Agendamiento en línea revolucionario</p>
      <p>Cuentas con un calendario revolucionario online para agendar el servicio que deseas sin intermediarios. Revisas la disponibilidad del profesional, independiente o el negocio y agendas tu servicio.</p>
    </div>
    <div class="col m-2 p-4 mb-2">
      <img class="mb-sm-3" src="../../../assets/images/personas.svg" alt="">
      <p class="titulospagos">Todos los servicios a la mano</p>
      <p>Encuentra en TodoServy los servicios comunes, como jardinería, plomería, veterinaria, electricista, y los menos comunes; como masajes relajantes, empresas de seguridad y más.</p>
    </div>
    <div class="col m-2 p-4 mb-2">
      <img class="mb-sm-3" src="../../../assets/images/pagos.svg" alt="">
      <p class="titulospagos">Pagos 100% seguros</p>
      <p>Paga por los servicios contratados a través de una plataforma 100% online y segura. También puedes pagar en efectivo, transferencia bancaria y con tarjeta de crédito y débito.</p>
    </div>
  </div>
</div>
