<div class="container mt-3">
  <div class="row textoapp">
    <div class="col ">
      <img src="../../../assets/images/ventanasmovil.jpg" width="80%" alt="">
    </div>
    <div class="col ">
      <p class="titulo1">App Todoservy</p>
      <p>Busca, agenda, paga y califica el servicio que necesitas desde la palma de tu mano, con la App TodoServy.​​</p>
      <p class="titulo2">¡Es 100% gratis!</p>
      <div class="" >
        <button class="btn-grad" type="submit">Descarga la App</button>
      </div>
    </div>
  </div>
</div>
