<div class="container">
    <div class="row nav offset-md-1 text-center navegacion">
        <div class="col col-sm-3 ">
          <a
            class="nav-link active"
            id="nav-home-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-home"
            type="button"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            routerLink="/servicios"
            routerLinkActive="active-link"
            >
            Busco un Servicio
          </a>
        </div>
        <div class="col col-sm-4 text-center">
          <a
          class="nav-link"
          id="nav-profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#nav-profile"
            type="button"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            routerLink="/negocios"
            routerLinkActive="active-link"
            >
            Soy un Negocio
          </a>

        </div>
        <div class="col col-sm-3 text-center ">
          <a
          class="nav-link"
          id="nav-contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-contact"
          type="button"
          role="tab"
          aria-controls="nav-contact"
          aria-selected="false"
          routerLink="/profesionales"
          routerLinkActive="active-link"
          >
          Soy un Profesional
        </a>
      </div>
  </div>
</div>
