<div class="container">
  <div class="row">
    <div class="col text-center mb-3">
      <p class="textp2">Preguntas Frecuentes</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="../../../assets/images/personaspensando.jpg" alt="">
    </div>
    <div class="col">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button textp2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              ¿Para qué sirve TodoServy?
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Con Todoservy puedes solicitar servicios de profesionales o empresas de manera fácil y rápida, todo gratis. Ya sea para trabajos en tu hogar, oficiona o cualquier otra necesidad, encuentra el especialista o emprendimiento adecuado en nuestro directorio premium online, unificado y universal.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed textp2 textp2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              ¿Cómo me registro en TodoServy?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Los pasos para registrarte en TodoServy son los siguientes:</p>
              <ol>
                <li>Haz clic en “Registro”.
                  <li>Selecciona la opción “Cliente” y haz clic en continuar.</li>
                  <li>Llena el formulario, acepta los términos y condiciones.</li>
                  <li>Por último, haz clic en el botón “Registro” y verifica tu correo electrónico.</li>
              </ol>
              <p>Recuerda que puedes hacer tu registro con el correo electrónico desde celular o computadora.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed textp2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              ¿TodoServy funciona a nivel nacional en Colombia?
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Con Todoservy puedes solicitar servicios de profesionales o empresas de manera fácil y rápida, todo gratis. Ya sea para trabajos en tu hogar, oficiona o cualquier otra necesidad, encuentra el especialista o emprendimiento adecuado en nuestro directorio premium online, unificado y universal.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed textp2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
              ¿Como puedo pagar por un servicio?
            </button>
          </h2>
          <div id="collapseThree1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Con Todoservy puedes solicitar servicios de profesionales o empresas de manera fácil y rápida, todo gratis. Ya sea para trabajos en tu hogar, oficiona o cualquier otra necesidad, encuentra el especialista o emprendimiento adecuado en nuestro directorio premium online, unificado y universal.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed textp2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
              ¿Puedo cancelar un servicio despues de contratado?
            </button>
          </h2>
          <div id="collapseThree2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Con Todoservy puedes solicitar servicios de profesionales o empresas de manera fácil y rápida, todo gratis. Ya sea para trabajos en tu hogar, oficiona o cualquier otra necesidad, encuentra el especialista o emprendimiento adecuado en nuestro directorio premium online, unificado y universal.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed textp2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
              ¿Como es el proceso de registro?
            </button>
          </h2>
          <div id="collapseThree3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>Con Todoservy puedes solicitar servicios de profesionales o empresas de manera fácil y rápida, todo gratis. Ya sea para trabajos en tu hogar, oficiona o cualquier otra necesidad, encuentra el especialista o emprendimiento adecuado en nuestro directorio premium online, unificado y universal.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
